<div class="center-align">
<div class="hoverable">
<div class="z-depth-3">
<h1 class='card-panel #3f51b5 indigo'>Name: <%= @artist.name %>
</div>
</div>
</div>

<div class="hoverable">
<div class="center-align">
<%= link_to 'View Songs', artist_songs_path(@artist), class: "btn cyan" %> 
<%= link_to 'New Song', new_artist_song_path(@artist), class: "btn cyan" %> 
<%= link_to 'Edit', edit_artist_path(@artist), class: "btn cyan" %> 
<%= link_to 'Back', artists_path, class: "btn cyan" %>
</div>
</div>
    </div>